.main {
    border: 5px solid yellow;
    width: 50%;
    padding: 1% 15px 20px 10%;
    margin: 15% 40%  70% 25%;
    outline:solid yellow;

}
.inner {
    border: 3px solid red;
    width: 40%;
    padding: 10% 20% 5% 20%;
    margin: 30px;
    outline: solid red;
}
.in {
    border: 2px solid green;
    width: 40% ;
    padding: 5% 15% 3% 10% ;
    margin: 20px;
    outline:solid green;
}
  
  
  


