.main {
    border: 20px solid yellow;
    width: 50%;
    padding: 1% 20px 20px 10%;
    margin: 10% 20%  70% 19%;
    outline:solid yellow;

}
.inner {
    border: 10px solid red;
    width: 40%;
    padding: 10% 20% 5% 20%;
    margin: 30px;
    outline: dashed red;
}
.in {
    border: 15px solid green;
    width: 40% ;
    padding: 5% 15% 3% 10% ;
    margin: 50px;
    outline:dotted green;
}
  
  
  


