body{
    background-image: url("https://images.unsplash.com/photo-1648469219394-b8ff07834d6a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=446&q=80");
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
} 


    ul li{
    list-style-type: none ;
    align-items: left;
    color:blue;
    font-size: medium;
    
}
ul{
    text-align: left;
}
ol li{
    list-style-type: none;
    color: blue;

}
img{
    width: 10%;
    float: left;
    margin-left: 70%;
    margin-right: 100%;
    padding-top: 00%;
    
}
p{
    color: whitesmoke;
    font-style: italic;
}
h1{
    color: blue;
    font-style: oblique;
}

